[submodule "Meep-App"]
	path = Meep-App
	url = https://github.com/bed-com-48-19/Meep-App.git
[submodule "meep-dashboard"]
	path = meep-dashboard
	url = https://github.com/Emmanuel-Mbewe/meep-dashboard.git
